img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}
.ProductInfo{
    margin-top: 40px;
    margin-left: 60px;
    width: 70%;
    height: 450px;
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 15px;

}